 /* UTILITIES */
 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}


/* NAVBAR STYLING STARTS */
.navbarr {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0px;
 background-color: teal;
 color: #fff;
 margin: 0px;
}
.nav-links a{
 color: #fff;
}
/* LOGO */
.font-effect-fire {
 font-family: "Sofia", sans-serif;
  font-size: 35px;
  padding-left: 20px;

}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu .nav-list:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu .nav-list{
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown .nav-list + .nav-list {
 margin-top: 10px;
}
.dropdown .nav-list {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown .nav-list:hover {
 background-color: #4c9e9e;
}
.services:hover .dropdown {
 display: block;
}