/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: sans-serif;
}
a {
 text-decoration: none;
 color: white;
 text-transform: capitalize;
}
li {
 list-style: none;
}

.top-bar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 background-color: #dce0ec;
 color: #fff;
}

.top-bar li a{
 font-size: 20px;
 padding: 10px;
 color: darkred;
}

.top-bar li a:hover {
  background-color: #dc96d2;
  text-shadow: 2px 2px 8px #FF0000;
}

@media (max-width: 768px) {
.top-bar li a{
 font-size: 13px;
 padding: 5px;
 }

 .top-bar .location{
 display: none;
}
.top-bar li a:hover {
  background-color: #dc96d2;
  text-shadow: 2px 2px 8px #FF0000;
}
}


.top-menu {
    display: inline-flex ;
    float: right;
    padding: 10px;
}


/*sociol icons styling  */

/*.nav-contact{
    float: right ;
    display: inline-block;

}*/
.nav-contact .contact li {
    float: right ;
    display: inline-block;

}


/* NAVBAR STYLING STARTS */
.navbarr {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #23282d;
 color: #fff;
}
.nav-links a {
 color: #fff;
}

.nav-links{
 margin: auto;
}
/* LOGO */
.logo {
 font-size: 25px;
 font-family: "Sofia", sans-serif;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}

.nav-dropdown {
  position: absolute;
  margin-top: -5px;
  /*z-index: 1;*/
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
.services:hover .dropdown {
 display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}